:root {
    --verde1: #8dbb90;
    --verde2: #74b07a;
    --cinza1: #e2e3df;
    --cinza2: #494d4e;
    --cinza3: #2e3233;
    --texto0: #444;
    --texto1: #222;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: var(--cinza1);
    color: var(--texto0);
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    font-family: 'Times New Roman', serif;
    font-size: 2em;
    text-align: center;
}

h2, h3 {
    margin-top: 1em;
}

h1, h2, strong {
    color: var(--texto1);
}

a {
    color: var(--verde2);
}

hr {
    margin: 1em;
}

nav > ul > a {
    color: white;
    text-decoration: none;
}

th{
    text-align: center;
}

th, td{
    padding: 0 0.5em;
}

th, td, table {
    border: 1px solid var(--texto1);
}

mjx-container {
    color: var(--texto1) !important;
    margin: 0 0 1em 0 !important;
    overflow-x: auto;
    padding: 1em 0 1em 0 !important;
    background-image:
    linear-gradient(to right, white, white), linear-gradient(to right, white, white),
    linear-gradient(to right, rgba(0,0,0,.4), rgba(255,255,255,0)), linear-gradient(to left, rgba(0,0,0,.4), rgba(255,255,255,0));
    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-size: 4% 100%, 4% 100%, 2% 100%, 2% 100%;
    background-attachment: local, local, scroll, scroll;
}

td > mjx-container {
    padding: 0 !important;
}

header {
    align-items: center;
    background: var(--verde1);
    color: white;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    width: 100%;
}

.logo {
    font-weight: 100;
    text-align: center;
    width: 100%;
}

.social {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

.icon {
    margin: 0.5em;
}

    .icon:hover {
        background: white;
        color: var(--verde1);
    }

aside {
    background: var(--cinza2);
    width: 100%;
}

.nav-item {
    padding: 1em;
    text-align: center;
}

    .nav-item:hover {
        background: white;
        color: var(--cinza2);
    }


main {
    width: 100vw;
}

article {
    background: white;
    line-height: 1.5;
    text-align: justify;
    width: 100%;
    padding: 2em;
}

    article.dois {
        background: var(--verde2);
    }

.cards {
    display: grid;
    grid-gap: 1em;
    max-width: 100%;
    margin-bottom: 1em;
}

.card {
    background: white;
    color: var(--texto1);
    border: 4px solid var(--cinza2);
    border-radius: 16px;
    height: 200px;
    text-align: center;
}

    .card:hover{
        border-color: var(--verde2);
        color: var(--cinza2);
    }

footer {
    align-items: center;
    background: var(--cinza3);
    color: white;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 100%;
}


@media only screen and (min-width: 576px) {

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (min-width: 800px) {

    aside {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 200px;
    }

    .nav-item {
        text-align: left;
    }

    main {
        width: calc(100vw - 200px);
        max-width: 800px;
        margin-left: 200px;
    }

}
