:root {
    --verde1: #8dbb90;
    --verde2: #74b07a;
    --cinza1: #e2e3df;
    --cinza2: #494d4e;
    --cinza3: #2e3233;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: var(--cinza1);
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    font-family: 'Times New Roman', serif;
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1, h2, strong {
    color: #222;
}

a {
    color: var(--verde2);
}

nav > ul > a {
    color: white;
    text-decoration: none;
}

mjx-container {
    margin: 1em 0 2em 0 !important;
    color: #222 !important;
    overflow-x: scroll;
}

header {
    align-items: center;
    background: var(--verde1);
    color: white;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    width: 100%;
}

.logo {
    font-weight: 100;
    text-align: center;
    width: 100%;
}

.social {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

.icon {
    margin: 0.5em;
}

    .icon:hover {
        background: white;
        color: var(--verde1);
    }

aside {
    background: var(--cinza2);
    width: 100%;
}

.nav-item {
    padding: 1em;
    text-align: center;
}

    .nav-item:hover {
        background: white;
        color: var(--cinza2);
    }


main {
    width: 100vw;
}

article {
    background: white;
    line-height: 1.5;
    text-align: justify;
    width: 100%;
    padding: 0 2em 2em 2em;
}

.cards {
    background: white;
    border: 4px solid var(--verde2);
    display: grid;
    grid-gap: 1em;
    margin-bottom: 0 auto;
    max-width: 100%;
}

footer {
    align-items: center;
    background: var(--cinza3);
    color: white;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 100%;
}


@media only screen and (min-width: 576px) {

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (min-width: 800px) {

    aside {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 200px;
    }

    .nav-item {
        text-align: left;
    }

    main {
        width: calc(100vw - 200px);
        max-width: 800px;
        margin-left: 200px;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
